* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ffb900;
    --black-color: #171100;
    --white-color: #ffffff;
    --font-heading: "Sen", serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", serif;
    font-size: 1.4rem;
}

/* =============================== Common ================================ */
.content {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    list-style: none;
}

.heading {
    font-family: var(--font-heading);
    font-weight: 700;
    letter-spacing: -0.02em;
    color: var(--black-color);
}

.heading.lv1 {
    font-size: 3.7rem;
    line-height: 1.26;
}

.heading.lv2 {
    font-size: 5.7rem;
    line-height: 1.17;
}

.desc {
    font-weight: 400;
    color: #5f5b53;
}

.desc.lv1 {
    font-size: 1.4rem;
    line-height: 1.86;
}

.desc.lv2 {
    font-size: 1.6rem;
    line-height: 1.75;
}

.desc.lv3 {
    font-size: 1.8rem;
    line-height: 1.67;
}

.btn {
    display: inline-block;
    min-width: 118px;
    line-height: 44px;
    background-color: var(--black-color);
    color: var(--white-color);
    border-radius: 24.5px;
    text-align: center;
    font-weight: 600;
    font-size: 1.4rem;
    border: none;
}

.btn:hover {
    opacity: 0.8;
    cursor: pointer;
    background-color: var(--primary-color);
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    -webkit-line-clamp: 2;
}

.line-clamp.line-3 {
    -webkit-line-clamp: 3;
}

.break-all {
    word-break: break-all;
}

div {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

/* =============================== Navigation ================================ */
.header {
    padding-top: 28px;
    background-color: #fffcf4;
}

.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 8px 0;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav li a {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    text-align: center;
    color: #5f5b53;
    padding: 0 21px;
    display: inline-block;
    position: relative;
}

.nav li.active a,
.nav li a:hover {
    font-weight: 600;
    color: var(--black-color);
}

.nav li a::before {
    content: attr(title);
    display: block;
    font-weight: 600;
    height: 0;
    visibility: hidden;
    overflow: hidden;
}

.nav li.active a::after {
    position: absolute;
    content: "";
    display: block;
    width: 12px;
    height: 2px;
    background-color: var(--black-color);
    top: 25px;
    border-radius: 1px;
}

.header .action .btn {
    font-size: 1.6rem;
    color: var(--white-color);
    margin-left: 70px;
    min-width: 144px;
    line-height: 50px;
}

/* =============================== Hero Left ================================ */
.hero {
    padding: 64px 0 65px 0;
    background-color: #fffcf4;
}

.hero .body {
    display: flex;
    height: 685px;
}

.hero .media-block {
    width: 48%;
    position: relative;
}

.hero .hero {
    width: 52%;
}

.hero .media-block .image {
    width: 470px;
    height: 685px;
    border-radius: 20px;
    display: block;
}

.hero-summary {
    position: absolute;
    right: -100px;
    bottom: 48px;
    width: 270px;
    height: 244px;
    padding: 24px;
    background-color: var(--white-color);
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}

.hero-summary .item {
    display: flex;
    align-items: center;
}

.hero-summary .item + .item {
    margin-top: 14px;
}

.hero-summary .item:nth-of-type(2) .icon {
    background-color: #fcefff;
}

.hero-summary .item:nth-of-type(3) .icon {
    background-color: #ebeaff;
}

.hero-summary .icon {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff9e8;
}

.hero-summary .info {
    margin-left: 16px;
}

.hero-summary .label {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.hero-summary .title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: var(--black-color);
}

/* =============================== Hero Right ================================ */
.content-block {
    margin-left: 230px;
}

.hero .desc {
    margin-top: 22px;
}

.hero .cta-group {
    display: flex;
    margin: 38px 0 48px;
}

.hero .hero-btn {
    min-width: 180px;
    line-height: 64px;
    background-color: var(--primary-color);
    border-radius: 32px;
    font-size: 1.8rem;
    color: var(--white-color);
}

.hero .watch-video {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    margin-left: 28px;
    cursor: pointer;
    padding: 0;
}

.hero .watch-video .icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .watch-video .icon:hover {
    opacity: 0.8;
}

.hero .watch-video span {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: var(--black-color);
    margin-left: 14px;
}

.hero .watch-video span:hover {
    color: var(--primary-color);
}

.hero .stats {
    margin: 8px 0 0 -28px;
}

.hero .stats strong {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 6.4rem;
    line-height: 1.23;
    color: var(--black-color);
    padding: 0 8px 0 28px;
}

/* =============================== Popular Top ================================ */
.popular {
    padding: 65px 0;
    margin: 135px 0 135px 0;
}

.popular-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-top .info {
    width: 40%;
}

.popular-top .desc {
    margin-top: 16px;
}

.popular-top .controls-btn {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    padding: 0;
    color: var(--primary-color);
}

.popular-top .controls-btn:hover {
    opacity: 0.8;
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
}

.popular-top .controls-btn:first-child {
    margin-right: 14px;
}

.popular-top .controls-btn svg {
    display: flex;
    margin: auto;
}

/* =============================== Popular Bottom ================================ */
.popular .course-list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 55px;
}

.popular .course-item {
    flex: 1;
    border: 1px solid #e2dfda;
    border-radius: 12px;
}

.popular .course-item .thumb {
    width: calc(100% + 2px);
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
    margin: -1px;
}

.popular .course-item:hover {
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
    border-color: transparent;
}

.popular .course-item .info {
    background: #ffffff;
    border-radius: 0 0 12px 12px;
    padding: 16px 22px 22px;
}

.popular .course-item .head,
.popular .course-item .rating,
.popular .course-item .foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular .course-item .title a {
    padding-right: 6px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: var(--black-color);
}

.popular .course-item .title a:hover {
    color: var(--primary-color);
}

.popular .course-item .star {
    margin-bottom: 1px;
}

.popular .course-item .value {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #fea31b;
    margin-left: 6px;
}

.popular .course-item .desc {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    margin-top: 6px;
    color: #5f5b53;
}

.popular .course-item .foot {
    margin-top: 12px;
}

.popular .course-item .price {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.popular .course-item .btn:hover {
    background-color: var(--primary-color);
}

/* =============================== Feedback ================================ */
.feedback {
    background-color: #2e2100;
    padding: 96px 0;
}

.feedback .feedback-list {
    display: flex;
    overflow: hidden;
}

.feedback .feedback-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
}

.feedback .feedback-item .avatar {
    width: 72px;
    height: 72px;
    object-fit: cover;
    border-radius: 50%;
}

.feedback .feedback-item .title {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.42;
    color: #f7f7f7;
    margin: 16px 0 4px;
}

.feedback .feedback-item .desc {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb3;
    margin-bottom: 28px;
}

.feedback .feedback-item .dots {
    display: flex;
}

.feedback .feedback-item .dot {
    display: inherit;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #634700;
    cursor: pointer;
}

.feedback .feedback-item .dot + .dot {
    margin-left: 6px;
}

.feedback .feedback-item .dot:hover,
.feedback .feedback-item .dot.active {
    background-color: #ffbb00aa;
}

.feedback .feedback-content {
    width: 66%;
}

.feedback blockquote {
    font-weight: 400;
    font-style: italic;
    font-size: 2.6rem;
    line-height: 1.54;
    color: #ffffff;
    margin-left: 30px;
}

/* =============================== Features 1 ================================ */
.features {
    margin-top: 200px;
}

.features .body {
    display: flex;
    justify-content: space-between;
}

.features .features-img {
    display: flex;
    gap: 30px;
    width: 49%;
}

.features-img .image {
    width: 270px;
    height: 405px;
    object-fit: cover;
    border-radius: 16px;
}

.features-img .image:first-child {
    margin-top: 34px;
}

.features .features-content {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.features-content .desc {
    margin-top: 16px;
    font-size: 1.6rem;
    line-height: 1.75;
}

.features-content .btn {
    margin-top: 32px;
    min-width: 137px;
    line-height: 48px;
    background-color: var(--primary-color);
    color: var(--white-color);
}

/* =============================== Features 2================================ */
.features-2 .body {
    justify-content: space-between;
}

.features-2 .features-content {
    width: 49%;
}

.features-2 .features-img .image {
    width: 470px;
    height: 440px;
    margin-top: 0;
    margin-left: auto;
}

/* =============================== Blog ================================ */
.blog {
    margin-top: 200px;
    background-color: #fffcf4;
}

.blog .head {
    padding-top: 96px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog .head .desc {
    margin-top: 16px;
    color: #696262;
    width: 38%;
}

.blog-list {
    margin-top: 55px;
    display: flex;
    gap: 30px;
}

.blog-list .thumb {
    width: 370px;
    height: 250px;
    object-fit: cover;
    border-radius: 16px 16px 0px 0px;
}

.blog-item:hover {
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
}

.blog-list .info {
    padding: 20px 20px 28px;
    background-color: var(--white-color);
    border-radius: 0 0 16px 16px;
}

.blog-list .date {
    position: relative;
    display: block;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
    margin-left: 10px;
}

.blog-list .date::before {
    content: "";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--primary-color);
    top: 10px;
    left: -10px;
}

.blog-list .date::after {
    content: "";
    display: block;
    position: absolute;
    width: 160px;
    height: 1px;
    background-color: #e2dfda;
    left: -10px;
    top: 30px;
    border-radius: 0.5px;
}

.blog-list .title {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #171100;
    margin-top: 12px;
}

.blog-list .btn {
    min-width: 118px;
    line-height: 48px;
    margin-top: 12px;
}

.blog .dots {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 38px 0 96px;
}

.blog .dot {
    display: inherit;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #634700;
    cursor: pointer;
}

.blog .dot + .dot {
    margin-left: 6px;
}

.blog .dot:hover,
.blog .dot.active {
    background-color: #ffbb00aa;
}

/* =============================== Footer ================================ */
footer {
    padding: 96px 0 28px;
    background-color: #2e2100;
}

footer .row {
    display: flex;
    justify-content: space-between;
    gap: 130px;
}

footer .column:nth-child(1) {
    margin-right: 15px;
    width: 35%;
}

footer .desc {
    max-width: 267px;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.86;
    margin-top: 18px;
    color: #bfbcb2;
}

footer .social {
    margin-top: 18px;
}

footer .social-icon {
    padding: 0 9px;
}

footer .social-icon:hover {
    opacity: 0.8;
    cursor: pointer;
}

footer .social-icon:first-child {
    padding-left: 0;
}

footer .title {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.75;
    color: #ffffff;
}

footer .separate {
    border: 1px solid #59554b;
    width: 130px;
    margin: 14px 0 13px;
}

footer .link {
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.86;
    color: #bfbcb2;
    padding-inline-start: 0px;
}

footer .link:hover {
    color: var(--primary-color);
}

footer .item {
    padding-top: 12px;
    word-wrap: break-word;
}

footer .item strong {
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.86;
    color: #ffffff;
}

footer .separate-footer {
    border: 1px solid #59554b;
    width: 1170px;
    margin: 38px 0 28px;
}

footer .copyright {
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.86;
    text-align: center;
    color: #807d74;
}
